
.paralaxo-escurece{
    background-color: rgb(0, 0, 0);
    /* background-image: linear-gradient(white 10%,rgb(0, 0, 0) 80%,white 10%); */
    filter: opacity(60%);
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 10;
}
body{
    background-color: black;
    
}
#particles-js {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: -1;
}

.back-azul{
    background-image: linear-gradient(to bottom, #000000,#000000,#080f21, #0b2057 );
    
}
.back-vermelho{
    background-image: linear-gradient(to bottom, #000000,#2b0000, #490000, #b60000 );
}
.back-luz{
    /* background-image: 
    linear-gradient(to bottom, rgba(181, 141, 34, 0.488),rgba(67, 54, 21, 0.466), rgba(0, 0, 0, 0.526), rgba(0, 0, 0, 0.526)),
    radial-gradient(circle at top,rgb(190, 157, 58), rgb(164, 130, 50),rgb(89, 71, 28),rgb(26, 19, 7), black); */

    
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.464), rgba(0, 0, 0, 0.486)),
    url("../Imagens/godmaster.webp");
    background-size: contain;
    
}
.back-abismo{
    background-image: linear-gradient(to bottom, #000000,#191919, #282828 );
    
}
.back-palido{
    background-image: linear-gradient(to top, #000000,#000000,#191919, #494949 );
    
}
.back-zote{
    background-image: url("../Imagens/zote.png");
    background-size: contain;
}  

.opaco{
    filter: opacity(30%);
}


.zindexo{
    z-index: 0;
}
.BrilhoRoxo {
    text-shadow: 0px 0px 10px rgb(179, 3, 255);
}
.Brilho {
    text-shadow: 0px 0px 5px rgb(255, 255, 255);
}
.BrilhoFraco {
    text-shadow: 0px 0px 2px rgb(255, 255, 255);
    z-index: 10;
}
.Filtro{
filter: brightness(45%)
}
.LogoContainer{
    justify-self: center;
}

nav{
    height: 200px;
    margin-bottom: 20px;
}

.imagem{
    top: 0px;
    height: 200px;
    margin-top: -1px;
    animation: halloknaito 4s infinite;
    transition-duration: 0.1s;
    position: relative;
    transition: ease-in-out 1s;
}


.imagem:hover{
    transform: scale(1.1);
}

@keyframes halloknaito {
  0% {
    top: 0px;
  }
  50% {
    top: 10px;
  }
  100% {
    top: 0px;
  }
}

@media screen and (max-width:900px) {
    .imagem{
        height: 100px;
        margin-top: -1px;
    }
    nav{
        height: 100px;
    }

}